<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="head">
        <div class="aboutUs">
            <h1>
               Hi! Welcome...
                <p>Omience platform is a broad institute that entains Software Development and Fashions.</p>
                
                <p id="software"><span>Software Development:</span><br> We competent in handing your various project,such as building website,games..et<br> to powering it. We are fullstack but major at Backend Development.</p>
                
                <P id="fashion">
                    <span>Fashion:</span><br> We are a Unisex fashion institutes,we designs,produces<br> and market quality fashion items for our client.Such as;
                
                    <ul>
                    <li> Baby Flocks</li>    
                    <li> Bespoke dress (Evening/date gowns)</li>
                    <li> Agbadas</li>
                    <li> official wears</li>
                    <li> Casuals</li>
                    <li> Suits</li>
                    <li> Wedding dress</li>
                    <li> Bridal wears</li>
                    <li>Lingeries</li>
                    <li>Heels/footwears</li> 
                </ul>
            </P>

            </h1>
        </div>
    </div>
</body>
</html>