<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./index.js"></script>
    <title>Register_page</title>
</head>
<body>

    <div class="register">
        <div class="form_box">
            <form id="register" class="input_group">

                <div class="form_div">
                    <input type="text" class="form_input" placeholder=" " required>
                    <label for="" class="form_label">First Name</label>
                </div>
        
                <div class="form_div">
                    <input type="text" class="form_input" placeholder=" " required>
                    <label for="" class="form_label">Last Name</label>
                </div>
        
                <div class="form_div">
                    <input type="date" class="form_input" placeholder=" " required>
                    <label for="" class="form_label">DOB</label>
                </div>
        
                <div class="form_div">
                    <select name="gender" required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="prefer_not_to_say">Not to say</option>
                    </select>
                </div>
        
                    <div class="form_div">
                        <input type="tel" class="form_input" placeholder=" " required>
                        <label for="" class="form_label">Tel No.</label>
                    </div>
        
                <div class="form_div">
                    <input type="email" class="form_input" placeholder=" " required>
                    <label for="" class="form_label">Email</label>
                </div>
        
                <div class="form_div">
                    <label for="country">Country</label>
                    <select name="country" required>
                        <option value="Afghanistan">Afghanistan</option>	
                            <option value="Albania">Albania</option>	
                            <option value="Algeria">Algeria</option>	
                            <option value="Angola">Angola</option>	
                            <option value="Argentina">Argentina</option>	
                            <option value="Australia">Australia</option>	
                            <option value="Bahrain">Bahrain</option>	
                            <option value="Belgium">Belgium</option>
                            <option value="Benin">Benin</option>	
                            <option value="Botswana">Botswana</option>	
                            <option value="Brazil">Brazil</option>	
                            <option value="Brunei">Brunei</option>	
                            <option value="Bulgaria">Bulgaria</option>
                            <option value="Cameroon">Cameroon</option>
                            <option value="Canada">Canada</option>	
                            <option value="Chad">Chad</option>	
                            <option value="China">China</option>	
                            <option value="Colombia">Colombia</option>
                            <option value="Egypt">Egypt</option>	
                            <option value="Ethiopia">Ethiopia</option>	
                            <option value="Finland">Finland</option>
                            <option value="France">France</option>	
                            <option value="Germany">Germany</option>	
                            <option value="Ghana">Ghana</option>	
                            <option value="Guinea">Guinea</option>
                            <option value="Iceland">Iceland</option>	
                            <option value="India">India</option>	
                            <option value="Israel">Israel</option>	
                            <option value="Italy">Italy</option>
                            <option value="Liberia">Liberia</option>
                            <option value="Libya">Libya</option>	
                            <option value="Malawi">Malawi</option>	
                            <option value="Malaysia">Malaysia</option>	
                            <option value="Maldives">Maldives</option>	
                            <option value="Mali">Mali</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Niger">Niger</option>	
                            <option value="Nigeria">Nigeria</option>
                            <option value="Russia">Russia</option>	
                            <option value="Rwanda">Rwanda</option>
                            <option value="Senegal">Senegal</option>	
                            <option value="South Africa">South Africa</option>	
                            <option value="Sweden">Sweden</option>
                            <option value="Switzerland">Switzerland</option>	
                            <option value="Togo">Togo</option>	
                            <option value="Turkey">Turkey</option>
                            <option value="Ukraine">Ukraine</option>	
                            <option value="United Arab Emirates">United Arab Emirates</option>	
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="United States of America">United States of America</option>
                            <option value="zimbabwe">Zimbabwe</option>
                    </select>
                </div>
        
                <div class="form_div">
                    <input type="text" class="form_input" placeholder=" " required>
                    <label for="" class="form_label">User Name</label>
                </div>
        
                <div class="form_div">
                    <input type="password" class="form_label" placeholder=" " required>
                    <label for="" class="form_label">Password</label>
                </div>
        
                <div class="form_div">
                    <input type="password" class="form_label" placeholder=" " required>
                    <label for="" class="form_label">Comfirm_password</label>
                </div>
        
                <input type="checkbox" class="checkbox"><span>I agree to the terms & conditions</span>
                <button type="submit" class="submit_btn">Register</button>
            </form>
        </div>
    </div>
</body>
</html>